// Custom CSS file


/*
 * Body
 */
html, body {
    color: #FEFEFD;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    background-color: #414043;
    text-shadow: 0 .3rem .4rem rgba(0, 0, 0, .5);
}

.m-b-md {
    margin-bottom: 30px;
}

.title {
    font-size: 84px;
}

/*
 * Header
 */
//  .masthead {
//     margin-bottom: 2rem;
//   }

  // .masthead-brand {
  //   margin-bottom: 0;
  // }

  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }

  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }

  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }

  // .nav-masthead .active {
  //   color: #fff;
  //   border-bottom-color: #fff;
  // }

  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  }

  .cover-container {
    max-width: 60em;
  }

  /*
   * Index specific
   */
   .index {
       padding-top: 200px;
   }

  /*
   * Index specific
   */
   .input-field {
    margin-bottom: 10px;

    .btn {
      margin-top: 5px;
    }
  }

  /*
   * Index specific
   */
  .table-head {
       color: #FEFEFD;
   }




  ul.nav li.active a {
    color: #FEFEFD !important;
}
